#console {
    height: 500px;
    margin: 10px; padding:10px;
    overflow: scroll;
    color: lightgray;
    background-color: black;
    font-family: monospace;
}
.console-row {
    margin: 0px; padding: 0px;
}
