<!DOCTYPE html>
<html>
<head>
    <title>Molt | {{ vhost.repo }}</title>
    <style>
    #console {
      height: 500px;
      margin: 10px; padding:10px;
      overflow: scroll;
      color: lightgray;
      background-color: black;
      font-family: monospace;
      font-size: 14px;
    }
    .console-row {
      margin: 0px; padding: 0px;
    }
    </style>
</head>
<body>
    <h1>{{ vhost.repo }} molting now...</h1>
    <table>
        <tr><td>User</td><td id=user>{{ vhost.user }}</td></tr>
        <tr><td>Repository</td><td id=repo>{{ vhost.repo }}</td></tr>
        <tr><td>Revision</td><td id=rev>{{ vhost.rev }}</td></tr>
        <tr><td>Status</td><td id=status>running</td></tr>
    </table>
    <div id=console></div>

    <script>
    const evtSource = new EventSource("/molt/{{ vhost.full }}");
    evtSource.onmessage = function(e) {
      const newElement = document.createElement("p");
      newElement.className = 'console-row';
      newElement.innerHTML = e.data;
      document.getElementById('console').appendChild(newElement);
      newElement.scrollIntoView(true);
    }
    evtSource.addEventListener("success", function(e) {
      console.log('success')
      evtSource.close();
      location.href = `{{ redirect_url }}`
    }, false);
    evtSource.addEventListener("failure", function(e) {
      const newElement = document.createElement("p");
      newElement.className = 'console-row';
      newElement.innerHTML = e.data;
      document.getElementById('console').appendChild(newElement);
      document.getElementById('status').innerHTML = 'failure'
      evtSource.close();
    }, false);
    evtSource.onerror = function(e) {
      console.log('onerror')
    }
    </script>
</body>
</html>
